.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  overflow: hidden;
}

.title {
  color: #293264;
  font-family: Karla;
  font-size: 2.52rem; /* Approximately 41px */
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 0;
}

.info {
  color: #293264;
  font-family: Inter;
  font-size: 0.94rem; /* Approximately 15px */
  font-weight: 400;
  line-height: normal;
}

form {
  align-self: center;
  font-weight: 700;
}

.dropDown {
  border-radius: 0.44em; /* Approximately 7px */
  margin-bottom: 1.06em; /* Approximately 17px */
  margin-top: 0.69em; /* Approximately 11px */
}

.categoryLabel,
.difficultyLabel {
  background-color: #e3e2e2;
  border-radius: 0.81em 0 0 0.81em; /* Approximately 13px 0 0 13px */
  color: #293264;
  padding: 0.36em 0.41em 0.44em 0.7em; /* Approximately 5.75px 6.5px 7px 11px */
  text-align: center;
}

.selectCategory,
.difficultyLevel {
  background-color: #b5e7ec;
  border-radius: 0 0.81em 0.81em 0; /* Approximately 0 13px 13px 0 */
  border: none;
  color: #293264;
  cursor: pointer;
  padding: 0.54em; /* Approximately 7px */
  width: 12.31em; /* Approximately 165px */
}

.startBtn {
  background: #8b93d8;
  border-radius: 0.94em; /* Approximately 15px */
  border: none;
  color: #f5f7fb;
  cursor: pointer;
  font-family: Inter;
  font-size: 1rem; /* 16px */
  font-weight: 500;
  margin-top: 0.69em; /* Approximately 11px */
  padding: 1em; /* 16px */
  text-align: center;
}

/* Hover and Focus styles */
.selectCategory:hover,
.difficultyLevel:hover {
  background-color: #8ebdc3;
  box-shadow: 0px 0px 0.3125em rgba(0, 0, 0, 1); /* Approximately 5px */
}

.selectCategory:focus,
.difficultyLevel:focus {
  outline: none;
}

.startBtn:hover {
  background-color: #4d5b9e;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
}

/* Media Queries */

@media (min-width: 700px) {
  .selectCategory,
  .difficultyLevel {
    font-size: 0.87rem; /* Approximately 18.25px */
  }
}
