.quizContainer {
  display: flex;
  flex-direction: column;
  align-items: left;
}

.infoSection {
  display: inherit;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.category,
.level {
  background: linear-gradient(to right, #e3e2e2 35%, #7c87c2 65%);
  border-radius: 13px;
  align-items: center;
  height: auto;
  padding: 7px 13px;
}

.level {
  text-transform: capitalize;
}

.checkAnswersBtn {
  background-color: #4d5b9e;
  width: auto;
  align-self: center;
  border: none;
  color: #f5f7fb;
  text-align: center;
  font-family: Inter;
  font-size: 15.24px;
  font-weight: 600;
  border-radius: 9px;
  padding: 11px 13px;
}

.checkAnswersBtn:hover {
  background-color: #7c87c2;
}
