.quizContainer {
  display: flex;
  flex-direction: column;
}

.infoSection {
  align-items: center;
  display: inherit;
  flex-direction: row;
  justify-content: space-between;
}

.category,
.level {
  align-items: center;
  background: linear-gradient(to right, #e3e2e2 35%, #8b93d8 65%);
  border-radius: 0.81em; /* Approximately 13px */
  height: auto;
  padding: 0.438em 0.813em; /* Approximately 7px 13px */
}

.level {
  text-transform: capitalize;
}

.quizResultsContainer {
  display: flex;
  gap: 1.69em; /* Approximately 27px */
  justify-content: center;
  margin-top: 2.31em; /* Approximately 37px */
}

.quizScore {
  color: #293264;
  font-family: Inter;
  font-size: 0.925rem; /* Approximately 14.8px */
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-align: center;
}

.actionButton {
  align-self: center;
  background: #8b93d8;
  border-radius: 0.94em; /* Approximately 15px */
  border: none;
  color: #f5f7fb;
  font-family: Inter;
  font-size: 1rem; /* 16px */
  font-weight: 500;
  padding: 1em; /* 16px */
  text-align: center;
}

.actionButton:hover {
  background-color: #4d5b9e;
  box-shadow: 0px 0px 0.31em rgba(0, 0, 0, 0.25); /* Approximately 5px */
}
