#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

.blob {
  position: absolute;
  width: 150px;
  height: 150px;
  background-color: #3498db;
  border-radius: 50%;
  transform: rotate(45deg);
}

.top-right {
  top: 5vh;
  right: 5vw;
  width: 15vw;
  height: 15vh;
}

.bottom-left {
  bottom: 0;
  left: 0;
}
