.multipleChoiceAnswers {
  border-bottom: 0.09em solid #dbdef0; /* Approximately 1.5px */
  padding-bottom: 0.94em; /* Approximately 15px */
}

.radioAnswerChoiceContainer {
  margin-bottom: 1em; /* 16px */
}

.answerRadioButton {
  display: none;
}

.answerChoiceLabel {
  border-radius: 0.5em; /* Approximately 7.942px */
  background-color: #e3e2e2;
  color: #293264;
  text-align: center;
  font-family: Inter;
  font-size: 0.92rem; /* Approximately 14.75px */
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding: 0.44em 1.06em; /* Approximately 7px 17px */
  cursor: pointer;
}

.answerChoiceLabel:hover {
  background-color: #d6dbf5;
}

.answerRadioButton:checked + .answerChoiceLabel {
  background: #d6dbf5;
}

@media (min-width: 700px) {
  .multipleChoiceAnswers {
    display: flex;
    gap: 0.81em; /* Approximately 13px */
    flex-wrap: wrap;
  }
}
